<ul class="team">
  <li class="team-member">
    <a href="https://antoineleclercq.github.io">
      <figure>
        <img alt="Antoine Leclercq" src="/img/antoine.jpg">
      </figure>
      <strong>Antoine Leclercq</strong>
      <br>
      Software Engineer (NYC)
    </a>
  </li>
  <li class="team-member">
    <a href="http://minevskiy.com/">
      <figure>
        <img alt="Konstantin Minevskiy" src="/img/konstantin.jpeg">
      </figure>
      <strong>Konstantin Minevskiy</strong>
      <br>
      Software Engineer (SF)
    </a>
  </li>
  <li class="team-member">
    <a href="https://tim-lee92.github.io/">
      <figure>
        <img alt="Timmy Lee" src="/img/timmy.png">
      </figure>
      <strong>Timmy Lee</strong>
      <br>
      Software Engineer (SF)
    </a>
  </li>
</ul>