---
---

@import "{{ site.theme }}";

.inner

ol#markdown-toc {
  list-style: upper-roman;

  ol {
    list-style: decimal;

    ol {
      list-style: lower-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }
}

.inner {
  max-width: 900px;
}

pre {
    white-space: pre-wrap;
}